<%- include('includes/head') %>
<%- include('includes/nav') %>

<section>
  <div class="container">
    <% if(contacts.length > 0) { %>
      <div class="contacts">
        <h1 class="title">Contatos</h1>

        <%- include('includes/messages') %>

        <table class="table">
          <thead>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Número de telefone</th>
          </thead>
          <tbody>
            <% contacts.forEach(contact => { %>
                <tr>
                  <td>
                    <span><%=contact.name%></span>
                  </td>
                  <td>
                    <span><%=contact.email%></span>
                  </td>
                  <td>
                    <span><%=contact.phone%></span>
                  </td>
                  <td>
                    <div class="contact-edit">
                      <a href="/contact/<%=contact._id%>">
                        <span class="material-symbols-outlined">edit</span>
                      </a>
                      <a href="/contact/<%=contact._id%>/delete">
                        <span class="material-symbols-outlined">delete</span>
                      </a>
                    </div>
                  </td>
                </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    <% } else { %>
      <div class="empty-contacts">
        <%- include('includes/messages') %>
        <img src="/assets/img/empty.svg">
        <p>Ainda não há contatos</p>
      </div>
    <% } %>
  </div>
</section>

<%- include('includes/footer') %>